:host {
    font-size: 0.9em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

:host > div {
    text-align: center;
    margin: 5px;
}

div:nth-child(1) {
    text-shadow: 0px 0px 4px white;
    text-decoration: 1.5px underline;
}

@media (max-width: 700px) {
    :host {
        font-size: 0.8em;
        width: 90%;
    }
}