:host {
    font-size: 0.9em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

:host > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

@media (max-width: 700px) {
    :host {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    :host {
        width: 100%;
    }
}