<div id="container">
    <div id="search">
        <input type="text" id="search-box" placeholder="Search any city..."  (keyup.enter)='onQuery($event)'/>
        <span class="material-icons" id="search-icon" (click)='onQuery($event)'>search</span>
    </div>
    <div id="first-layer">
        <app-atmosphere-icon
            [icon]='weatherData.list[0].weather[0].icon'>
        </app-atmosphere-icon>
        <app-stats
            class="card-styles"
            [dt_txt]='weatherData.list[0].dt_txt'
            [temp]='weatherData.list[0].main.temp'
            [maxTemp]='weatherData.list[0].main.temp_max'
            [minTemp]='weatherData.list[0].main.temp_min'
            [humidity]='weatherData.list[0].main.humidity'
            [windSpeed]='weatherData.list[0].wind.speed'
            [city]='weatherData.city.name'>
        </app-stats>
    </div>
    <div id="forecast">5-Day Forecast:</div>
    <app-cards-layer
        [list]='weatherData.list'>
    </app-cards-layer>
</div>