<ng-template appPlaceHolder></ng-template>
<div id="container"
    *ngIf="isDataRetrived"
    [ngStyle]='setBackground()'>
    <form (ngSubmit)="onQuery()" id="search">
        <input type="text" id="search-box" placeholder="Search any city..."/>
        <input class="material-icons" type="submit" id="search-icon" value="search" (click)="onQuery()">
    </form>
    <div id="first-layer">
        <app-atmosphere-icon
            [icon]='weatherData.list[0].weather[0].icon'>
        </app-atmosphere-icon>
        <app-stats
            [class.day-colors]="isItDay"
            [class.night-colors]="!isItDay"
            [class.card-styles]="true"
            [dt_txt]='weatherData.list[0].dt_txt'
            [desc]='weatherData.list[0].weather[0].description'
            [temp]='weatherData.list[0].main.temp'
            [maxTemp]='weatherData.list[0].main.temp_max'
            [minTemp]='weatherData.list[0].main.temp_min'
            [humidity]='weatherData.list[0].main.humidity'
            [windSpeed]='weatherData.list[0].wind.speed'
            [city]='weatherData.city.name'>
        </app-stats>
    </div>
    <div id="forecast"
        [class.day-colors]="isItDay"
        [class.night-colors]="!isItDay"
        [class.card-styles]="true">
        4-Day Forecast:
    </div>
    <app-cards-layer
        [list]='weatherData.list'
        [isItDay]='isItDay'>
    </app-cards-layer>
</div>