* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 1.5em;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-styles {
    padding: 30px;
    margin: 20px;
    background-color: #8de0f7;
    border-radius: 10px;
    box-shadow: 0 0 10px #24c4f0;
}