@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-styles {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.day-colors {
    background-color: #4275E2;
    box-shadow: 0 0 10px #a4bef7;
}

.night-colors {
    color: white;
    background-color: #064179;
    box-shadow: 0 0 10px #24c4f0;
}

.night-background {
    background-image: radial-gradient(circle, #29e3e1, #00acc4, #00769c, #00456b, #051937);
}

.day-background {
    background-image: radial-gradient(circle, #29e3e1, #00d1ee, #00bcf6, #0aa4f3, #618ae3);
}